<section class="container">
  <div class="weather-box">
    <h2>Weather App</h2>
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <input  #location placeholder="Enter location" (keyup.enter)="search(location.value)">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="search(location.value)">Search</button>
      </mat-card-content>
    </mat-card>

    <weather-details *ngIf="weatherData" [weather]="weatherData"></weather-details>
  </div>
</section>